.check-form {
  text-align: center;
  border-radius: 47px;
  height: 94px;
  background-color: white;
  display: flex;
  align-items: stretch;
  width: 1047px;
  max-width: 90%;
  margin: auto;
  margin-top: 30px;
  .input-container {
    flex-grow: 5;
    display: flex;
    align-items: center;
    input {
      width: 100%;
      color: #7F7F7F;
      letter-spacing: 4px;
      font-size: 2rem;
      font-weight: 400;
      border: none;
      outline: none;
      margin: 0 0 0 55px;
    }
  }
  .submit-button {
    background: linear-gradient(90deg, #58b5ed, #3766ea);
    flex-grow: 1;
    min-width: 200px;
    border-radius: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &-text {
      font-weight: 900;
      font-size: 22px;
      letter-spacing: 3px;
    }
  }
}
