.header{
    .contact-bar{
        border: 1px solid rgba(255,255,255, .2);
        font-weight: medium;
        color: white;
        line-height: 27px;
        letter-spacing: 1.6px;
        height: 68px;
        margin-bottom: 4rem;
        &-left{
            .email{
                padding-right: 21.5px;
                border-right: 1px solid rgba(255,255,255,.2);
            }
            .phone{
                padding-left: 21.5px;
            }
        }

    }
    .brand-text{
        font-weight: 500;
        font-size: 2.5rem;
    }
    .nav-link-right {
        font-size: 20px;
        letter-spacing: 2px;
    }

}
