.message {
  width: 1047px;
  max-width: 90%;
  min-height: 94px;
  border-radius: 47px;
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  font-size: 22px;
  letter-spacing: 3px;
}
.valid {
  background-color: #25bbf3;
  padding: 30px 50px;
}
.invalid {
  background-color: #f32525;
}
